{% extends "layouts/base.html" %}

{% block title %} Flight plans {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
{% endblock stylesheets %}

{% block content %}

  <main class="content">

      {% include 'includes/navigation.html' %}

      <div class="py-4">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                  <li class="breadcrumb-item active" aria-current="page">Flights</li>
              </ol>
          </nav>
          <div class="d-flex justify-content-between w-100 flex-wrap">
              <div class="mb-3 mb-lg-0">
                  <h1 class="h4">Flight plans</h1>
                  <p class="mb-0">Your flight plans</p>
              </div>
              <div>
                <a class="btn btn-primary btn-sm mr-2 dropdown-toggle" href="{{ url_for('flight_manager.new_flight') }}">
                    <span class="fas fa-plus mr-2"></span>New
                </a>
              </div>
          </div>
      </div>

      <div class="card border-light shadow-sm mb-4">
          <div class="card-body">

            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Operator</th>
                        <th>Equipment type</th>
                        <th>Departure</th>
                        <th>Destination</th>
                        <th>Pax / crew</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for row in flight_list %}
                    <tr>
                        <td>

                            {% if row.operator_logo == "" %}
                                {{row.equipment_operator}}
                            {% else %}
                                <img src="{{row.operator_logo}}" height="20"><span hidden>{{row.equipment_operator}}</span>
                            {% endif %}

                        </td>
                        <td>
                            {% if row.manufacturer_logo == "" %}
                                {{row.equipment_manufacturer}}
                            {% else %}
                                <img src="{{row.manufacturer_logo}}" height="20"><span hidden>{{row.manufacturer_logo}}</span>
                            {% endif %}
                            {{row.equipment_model}}
                        </td>
                        <td>
                            {{row.departure_name}}
                        </td>
                        <td>
                            {{row.destination_name}}
                        </td>
                        <td>
                            {{row.passengers_total}} / {{row.cabin_crew_count}}
                        </td>
                        <td>
                            <a href="{{ url_for('flight_manager.pre_flight', unique_reference = row.unique_reference) }}">Fly</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


          </div>
      </div>
      
      {% include 'includes/footer.html' %}

  </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

{% endblock javascripts %}
