{% extends "layouts/base.html" %}


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light.css">

{% endblock stylesheets %}

{% block content %}

<!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Passenger seat map</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('main.dashboard') }}"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#!">Passengers</a></li>
                        <li class="breadcrumb-item"><a href="#!">Seat map</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->


    <!-- [ Main Content ] start -->
    <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Current passenger seatmap</h5>
                    <p>click to view passenger details</p>
                    <div class="card-header-right">
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">

                        <div class="col-md-8 col-sm-12">
                           <div class="table-responsive">
                                <table class="table" id="seatmap_table"></table>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">

                            {% include 'includes/helper_seatmap.html' %}

                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>

      

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<script src="/static/customjs/seatmap_display.js"></script>
<script>

    get_seatmap_data_from_server("class")

</script>

{% endblock javascripts %}
