{% extends "layouts/base.html" %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<link href="https://cdn.jsdelivr.net/npm/enjoyhint@1.0.1/enjoyhint.min.css" rel="stylesheet">


{% endblock stylesheets %}

{% block content %}


    <div class="page-header-title" style="display: none;">
        <h5 class="m-b-10">Home</h5>
    </div>

    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="col-md-12 col-xl-4">
            <h5 class="mt-4">Welcome to Crew Manager <span style="color: red;">BETA</span></h5>
            <hr>
            <div class="card mb-3">
                <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                    <source src="/static/assets/videos/airport3.mp4" type="video/mp4">
                </video>
                <div class="card-body">
                    <p class="card-text">Thank you for volunteering to test Crew Manager. This is unfinished software and you may experience bugs, errors, problems, data loss, etc.</p>
                    <p class="card-text">The great news is that you can help squash those bugs:</p>
                    <ul>
                        <li>The easiest way to report an issue is to click the "Feedback" button at the bottom right of each page - this will allow you to include a screenshot and a description of what went wrong</li>
                        <li>You can also <a href="https://github.com/hankhank10/crew-resource-management/issues">raise an issue on Github</a></li>
                    </ul>
                    
                    <p class="card-text">If you have feature requests rather than bug reports please raise these</p>
                    <ul>
                        <li>On <a href="https://forum.crewmanager.live/">the forum ...</a></li>
                        <li>... or on <a href="https://discord.gg/NqPEKnWCF8">Discord</a></li>

                    </ul>

                    <p class="card-text">Crew Manager is open source so if you have the ability then I would also encourage you to dive into the codebase on Github and make your own amendments via a Pull Request.</p>
                </div>
            </div>
        </div>

        <div class="col-xl-8 col-md-12">
            <h5 class="mt-4">Getting started guide</h5>
            <hr>

            {% if current_user.tutorial_viewed_equipment == True %}
            <div class="card text-white bg-success">
                <div class="card-header">
                        <a data-toggle="collapse" data-target="#collapseOne"><h5 class="card-title text-white"><i class="fas fa-check-square"></i>  &nbsp Done: Review equipment types</h5></a>
                </div>
                <div id="collapseOne" class="card-body collapse">
            {% else %}
            <div class="card text-white bg-secondary">
                <div class="card-header">
                        <a data-toggle="collapse" data-target="#collapseOne"><h5 class="card-title text-white"><i class="far fa-square"></i>  &nbsp To do: Review equipment types</h5></a>
                </div>
                <div id="collapseOne" class="card-body collapse show">
            {% endif %}
                    <p class="card-text">An "Equipment Type" is the type aircraft that you fly - each different aircraft type (eg a Boeing 747) counts as a different type of equipment, but each airline may have unique seat layouts and capacities, all of which can be modelled in Crew Manager.</p>
                    <p class="card-text">Crew Manager offers a number of built in equipment types, and also offers you offers you unlimited flexibility to create bespoke equipment types.</p>
                    
                    {% if current_user.tutorial_viewed_equipment == True %}
                    <p><i class="fas fa-check-square"></i> &nbsp Done: Get started by viewing the current list of equipment types from the navbar on the left</p>
                    {% else %}
                    <p><i class="far fa-square"></i> &nbsp Task: Get started by viewing the current list of equipment types from the navbar on the left</p>
                    {% endif %}

                </div>
            </div>

            {% if current_user.tutorial_created_flight_plan == True %}
            <div class="card text-white bg-success">
                <div class="card-header">
                        <a data-toggle="collapse" data-target="#collapseTwo"><h5 class="card-title text-white"><i class="fas fa-check-square"></i>  &nbsp Done: Create a Flight Plan</h5></a>
                </div>
                <div id="collapseTwo" class="card-body collapse">
            {% else %}
            <div class="card text-white bg-secondary">
                <div class="card-header">
                        <a data-toggle="collapse" data-target="#collapseTwo"><h5 class="card-title text-white"><i class="far fa-square"></i>  &nbsp To do: Create a Flight Plan</h5></a>
                </div>
                <div id="collapseTwo" class="card-body collapse show">
            {% endif %}
                    <p class="card-text">A "Flight Plan" is a plan for a particular flight.</p>
                    <p class="card-text">It will have a departure and destination airport, a particular equipment type and a passenger manifest.</p>
                    <p class="card-text">Each time you fly a particular route you will create a new flight plan for that particular flight.</p>
                    {% if current_user.tutorial_created_flight_plan == True %}
                    <p><i class="fas fa-check-square"></i> &nbsp Done: Create a new flight plan using the link on the left</p>
                    {% else %}
                    <p><i class="far fa-square"></i> &nbsp Task: Create a new flight plan using the link on the left</p>
                    {% endif %}
                </div>
            </div>

            {% if current_user.tutorial_started_flight == True %}
            <div class="card text-white bg-success">
                <div class="card-header">
                        <a data-toggle="collapse" data-target="#collapseThree"><h5 class="card-title text-white"><i class="fas fa-check-square"></i>  &nbsp Done: Fly your first flight</h5></a>
                </div>
                <div id="collapseThree" class="card-body collapse">
            {% else %}
            <div class="card text-white bg-secondary">
                <div class="card-header">
                        <a data-toggle="collapse" data-target="#collapseTwo"><h5 class="card-title text-white"><i class="far fa-square"></i>  &nbsp To do: Fly your first flight</h5></a>
                </div>
                <div id="collapseThree" class="card-body collapse show">
            {% endif %}
                    <p class="card-text">Once you have created a flight plan you can fly the route.</p>
                    <p class="card-text">In order to do this you need to download the <b><u><a class="text-white" href="{{url_for('main.download_client')}}">Find My Plane client</a></u></b> and run it on the local machine which is running Microsoft Flight Simulator.</p>
                    <p class="card-text">Once you download the client you will be provided with a 6-digit IDENT code such as ABCDEF which you can then use to start the flight by choosing the Flight Plan and pressing connect.</p>
                    {% if current_user.tutorial_downloaded_client == True %}
                    <p><i class="fas fa-check-square"></i>&nbsp Done: Download the <b><u><a class="text-white" href="{{url_for('main.download_client')}}">Find My Plane client</a></u></b></p>
                    {% else %}
                    <p><i class="far fa-square"></i> &nbsp Task: Download the <b><u><a class="text-white" href="{{url_for('main.download_client')}}">Find My Plane client</a></u></b></p>
                    {% endif %}
                    
                    {% if current_user.tutorial_started_flight == True %}
                    <p><i class="fas fa-check-square"></i>&nbsp Done: Select a previously created flight plan and choose FLY</p>
                    {% else %}
                    <p><i class="far fa-square"></i> &nbsp Task: Select a previously created flight plan and choose FLY</p>
                    {% endif %}

                </div>
            </div>

            <h5 class="mt-4">Latest updates</h5>
            <hr>
            <div class="card">
                <div class="card-header">
                    <h5>14 May 2021 - New server</h5>
                </div>
                <div class="card-body">
                    <p>We had a couple of hours of planned downtime today as we migrated to a new server. Things are running much more smoothly now on a larger server which should handle the traffic better.</p>
                    <p>All your data should be intact, but if you have any issues please raise a bug on the Discord.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h5>10 May 2021 - Deboarding passengers</h5>
                </div>
                <div class="card-body">
                    <p>You may have noticed that while passengers happily board your plane, they often struggle to get off again.</p>
                    <p>Deboarding of passengers is now supported by asking your crew to "start deboarding" or "deboard passengers".</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>9 May 2021 - Interactive tour</h5>
                </div>
                <div class="card-body">
                    <p>Squashing some bugs today, but also adding new functionality.</p>
                    <p>The most noticeable new addition in terms of features will be the option to have an <b>interactive tour</b> of both the inflight dashboard and the inflight crew communication page. I realised that these were pretty difficult to work out, so hopefully this will help new users get up to speed.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5>8 May 2021 - Beta open</h5>
                </div>
                <div class="card-body">
                    <p>Welcome aboard! I have opened a very limited beta program in the hope of getting some feedback and finding some bugs.</p>
                    <p>Please do report any bugs you find using the red box on the bottom of each page.</p> 
                </div>
            </div>


        </div>


    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

<script>

//Swal.fire(
//  'Maintenance notice',
//  'The server will be going down for maintenance today 9-10pm UK / 4-5pm EST',
//  'warning'
//)

</script>


{% endblock javascripts %}