{% extends "layouts/base.html" %}


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}


{% endblock stylesheets %}

{% block content %}
                

<!-- [ breadcrumb ] start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">Crew Messenger</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('main.dashboard') }}"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a href="{{ url_for('inflight.dashboard') }}">Live flight</a></li>
                    <li class="breadcrumb-item"><a href="#!">Crew Messenger</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- [ breadcrumb ] end -->

<!-- [ Main Content ] start -->
<div class="row">
    <!-- [ message ] start -->
    <div class="col-sm-12">
        <div class="card msg-card mb-0">
            <div class="card-body msg-block">
                <div class="row">
                    <div class="col-lg-3 col-md-12">
                        <div class="message-mobile">
                            <div class="task-right-header-status">
                                <span class="f-w-400" data-toggle="collapse">Contact List</span>
                                <i class="fas fa-times float-right m-t-10"></i>
                            </div>
                            <div class="taskboard-right-progress">

                                <div class="h-list-body">
                                    <div class="msg-user-list scroll-div overflow-auto"">
                                        <div class="main-friend-list">
                                            <div class="media userlist-box" data-id="1" data-status="online" data-username="Josephin Doe">
                                                <a class="media-left" href="{{ url_for('messaging.chat', message_type='cabin') }}"><img class="img-fluid media-object" src="/static/assets/images/user/passenger.png" alt="Cabin">
                                                </a>
                                                <div class="media-body">
                                                    <h6 class="chat-header">Cabin announcement<small class="d-block text-c-green">available </small></h6>
                                                </div>
                                            </div>
                                            <div class="media userlist-box active" data-id="2" data-status="online" data-username="Lary Doe">
                                                <a class="media-left" href="#!"><img class="img-fluid media-object" src="/static/assets/images/user/crew.png" alt="Crew">

                                                    {% if current_user.unread_flight_messages > 0 %}
                                                    <div class="live-status">{{ current_user.unread_flight_messages }}</div>
                                                    {% endif %}

                                                </a>
                                                <div class="media-body">
                                                    <h6 class="chat-header">Crew message<small class="d-block text-c-green">available </small></h6>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-12">
                        <div class="ch-block">
                            <div class="h-list-body">
                                <div class="msg-user-chat scroll-div overflow-auto" style="display:flex; flex-direction:column-reverse;">

                                    <div class="main-friend-chat">

                                        {% for message in existing_message_list %}

                                            {% if message.message_from == 'pilot' %}

                                            <div class="media chat-messages">
                                                <a class="media-left photo-table" href="#!"><img class="img-fluid media-object m-t-5" src="/static/assets/images/user/pilot.png" alt="Generic placeholder image"></a>
                                                <div class="media-body chat-menu-content">
                                                    <div class="">
                                                        <p class="chat-cont">{{message.message_content}}</p>
                                                    </div>
                                                    <p class="chat-time"><span data-livestamp="{{message.seconds_since_epoch}}">{{message.seconds_since_epoch}}</span></p>
                                                </div>
                                            </div>

                                            {% else %}

                                            <div class="media chat-messages">
                                                <div class="media-body chat-menu-reply">
                                                    <div class="">
                                                        <p class="chat-cont">{{message.message_content}}</p>
                                                    </div>
                                                    <p class="chat-time"><span data-livestamp="{{message.seconds_since_epoch}}">{{message.seconds_since_epoch}}</span></p>
                                                </div>
                                                <a class="media-right photo-table" href="#!"><img class="media-object img-radius m-t-5" src="/static/assets/images/user/crew.png" alt="Generic placeholder image"></a>
                                            </div>

                                            {% endif %}

                                        {% endfor %}

                                        <!-- These are the recent messages -->
                                        <div id="recent_message_card" class="media chat-messages">
                                            <a class="media-left photo-table" href="#!"><img class="img-fluid media-object m-t-5" src="/static/assets/images/user/pilot.png" alt="Generic placeholder image"></a>
                                            <div class="media-body chat-menu-content">
                                                <div class="">
                                                    <p id="recent_message_text" class="chat-cont">Recent message</p>
                                                </div>
                                                <p class="chat-time">Just now</p>
                                            </div>
                                        </div>

                                        <div id="recent_reply_card" class="media chat-messages">
                                            <div class="media-body chat-menu-reply">
                                                <div class="">
                                                    <p class="chat-cont"><i class="fas fa-spinner fa-spin"></i></p>
                                                </div>
                                                <p class="chat-time">Responding now...</p>
                                            </div>
                                            <a class="media-right photo-table" href="#!"><img class="media-object img-radius m-t-5" src="/static/assets/images/user/crew.png" alt="Generic placeholder image"></a>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="msg-form">
                                <div class="input-group mb-0">
                                    <textarea id="chat_input" class="form-control msg-send-chat" placeholder="Text . . ."></textarea>
                                    <div class="input-group-append">
                                        <button id="start_button" class="btn btn-secondary btn-icon" onclick="startButton(event)" type="button" data-toggle="tooltip" title="Speak live"><i class="fas fa-microphone"></i></button>
                                    </div>
                                    <div class="input-group-append">
                                        <button id="send_button" onclick="sendMessage('crew')" class="btn btn-theme btn-icon btn-msg-send" type="button"><i class="feather icon-play"></i></button>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ message ] end -->
</div>
<!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

<!-- Voice recognition script -->
<script src="/static/customjs/chat.js"></script>

<!-- Time ago libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.2/livestamp.min.js" integrity="sha512-C3RIeaJCWeK5MLPSSrVssDBvSwamZW7Ugygc4r21guVqkeroy9wRBDaugQssAQ+m3HZsMWVvEigcNMr7juGXKA==" crossorigin="anonymous"></script>

<script src="/static/customjs/auto-update.js"></script>

{% endblock javascripts %}
