{% extends "layouts/base.html" %}


<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
	<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/themes/light.css">

	<style>
		tr td {
			padding: 10px !important;
			margin: 0px !important;
		}
	</style>

{% endblock stylesheets %}

{% block content %}

<!-- [ breadcrumb ] start -->
<div class="page-header">
	<div class="page-block">
		<div class="row align-items-center">
			<div class="col-md-12">
				<div class="page-header-title">
					<h5>Inflight Dashboard</h5>
				</div>
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
					<li class="breadcrumb-item"><a href="#!">Inflight</a></li>
					<li class="breadcrumb-item"><a href="#!">Dashboard</a></li>

				</ul>
			</div>
		</div>
	</div>
</div>
<!-- [ breadcrumb ] end -->

<!-- [ Main Content ] start -->
<div class="row">
	<div class="col-xl-6 col-md-6 col-sm-12">
		<div class="card">
			<div class="card-header">
				<h5>Current location</h5>
			</div>
			<div class="card-body">
				<div class="embed-responsive embed-responsive-1by1">
  					<iframe class="embed-responsive-item" src="https://findmyplane.live/view/DUMMY/just_map"></iframe>
				</div>
				<!--<div id="sales-analytics-chart" style="height:345px"></div>-->
			</div>
		</div>


		<div class="card">
			<div class="card-body p-0">
				<div class="row d-flex align-items-center m-0">
					<div class="col-6 text-center bg-primary p-0">
						<div style="padding:20px 25px; color: white">
							<i class="fas fa-plane-departure fa-3x"></i>
							<h6 class="mt-2 mb-0 text-white f-w-400">{{flight.departure_name}}</h6>
						</div>
					</div>
					<div class="col-6 text-center p-0">
						<div style="padding:20px 25px;">
							<i class="fas fa-plane-arrival fa-3x"></i>
							<h6 class="mt-2 mb-0 f-w-400">{{flight.destination_name}}</h6>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>

	<div class="col-xl-6 col-md-6 col-sm-12">
		<div class="row">
			<div class="col-md-6">
				<div id="flight-phase-status-card" class="card table-card widget-primary-card bg-c-blue">
					<div class="row-table">
						<div class="col-sm-4 card-body-big">
							<img id="flight-phase-icon" height="50px" style="filter: invert(100%);" src="/static/assets/images/phase-icons/Question.png">
						</div>
						<div class="col-sm-8">
							<h6>Flight phase</h6>
							<h4 id="flight-phase-status-label">?</h4>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div id="cabin-phase-status-card" class="card table-card widget-primary-card bg-c-blue">
					<div class="row-table">
						<div class="col-sm-4 card-body-big">
							<img id="cabin-phase-icon" height="50px" style="filter: invert(100%);" src="/static/assets/images/phase-icons/Question.png">
						</div>
						<div class="col-sm-8">
							<h6>Cabin phase</h6>
							<h4 id="cabin-phase-status-label">?</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-md-6">
				<div id="door-status-card" class="card table-card widget-primary-card bg-c-yellow">
					<div class="row-table">
						<div class="col-sm-4 card-body-big">
							<i class="fas fa-door-closed"></i>
						</div>
						<div class="col-sm-8">
							<h4 id="door-status-label">?</h4>
							<h6>Doors</h6>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div id="gear-status-card" class="card table-card widget-primary-card bg-c-yellow">
					<div class="row-table">
						<div class="col-sm-4 card-body-big">
							<i class="fas fa-cog"></i>
						</div>
						<div class="col-sm-8">
							<h4 id="gear-status-label">?</h4>
							<h6>Landing Gear</h6>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div id="seatbelt-status-card" class="card table-card widget-primary-card bg-c-yellow">
					<div class="row-table">
						<div class="col-sm-4 card-body-big">
							<i class="fas fa-user-lock"></i>
						</div>
						<div class="col-sm-8">
							<h4 id="seatbelt-status-label">?</h4>
							<h6>Seatbelt sign</h6>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div id="smoking-status-card" class="card table-card widget-primary-card bg-c-yellow">
					<div class="row-table">
						<div class="col-sm-4 card-body-big">
							<i class="fas fa-smoking-ban"></i>
						</div>
						<div class="col-sm-8">
							<h4 id="smoking-status-label">?</h4>
							<h6>No Smoking Sign</h6>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="row align-items-start">
							<div class="col">
								<h3>{{ flight.passengers_total }} passengers</h3>
							</div>
							<div class="col-auto text-right">
								<h6 class="text-muted">Passenger status</h6>
							</div>
						</div>
					</div>
					<div class="card-body">

						<div class="row mt-3">
							<div class="col-sm-12">
								<h4>Boarding status</h4>
							</div>
								<div class="boarding_status_key col-sm-6">
									<span class="d-block"><i class="fas fa-circle text-c-yellow f-10 m-r-10"></i>Waiting to board</span>
									<span class="d-block"><i class="fas fa-circle text-c-blue f-10 m-r-10"></i>Boarding</span>
								</div>
								<div class="boarding_status_key col-sm-6">
									<span class="d-block"><i class="fas fa-circle text-c-green f-10 m-r-10"></i>On board</span>
									<span class="d-block"><i class="fas fa-circle text-c-red f-10 m-r-10"></i>Deboarding</span>
									<span class="d-block"><i class="fas fa-circle text-c-purple f-10 m-r-10"></i>Deboarded</span>
								</div>

						</div>
						<div class="progress mt-3" style="height:30px;">
							<div id="waiting_to_board_graphic" class="progress-bar bg-warning rounded" role="progressbar" style="width: 30%;" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"><span id="waiting_to_board_label">?</span></div>
							<div id="boarding_graphic" class="progress-bar bg-primary rounded" role="progressbar" style="width: 25%;" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"><span id="boarding_label">?</span></div>
							<div id="on_board_graphic" class="progress-bar bg-success rounded" role="progressbar" style="width: 20%;" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"><span id="on_board_label">?</span></div>
							<div id="deboarding_graphic" class="progress-bar bg-danger rounded" role="progressbar" style="width: 15%;" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"><span id="deboarding_label">?</span></div>
							<div id="deboarded_graphic" class="progress-bar bg-purple rounded" role="progressbar" style="width: 25%;" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"><span id="deboarded_label">?</span></div>
						</div>
						<hr>
						<div class="row mt-3">
							<div class="col-sm-12">
								<h4>Seated status</h4>
							</div>
							<div class="col-sm-6">
								<span class="d-block"><i class="fas fa-circle text-c-green f-10 m-r-10"></i>Seated</span>
								<span class="d-block"><i class="fas fa-circle text-c-red f-10 m-r-10"></i>Unseated</span>
							</div>
							<div class="col-sm-6">
								<span class="d-block"><i class="fas fa-circle text-c-yellow f-10 m-r-10"></i>Not on board</span>
							</div>

						</div>
						<div class="progress mt-3" style="height:30px;">

							<div id="seated_not_on_board_graphic" class="progress-bar bg-warning rounded" role="progressbar" style="width: 50%;" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"><span id="seated_not_on_board_label">?</span></div>
							<div id="seated_false_graphic" class="progress-bar bg-danger rounded" role="progressbar" style="width: 50%;" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"><span id="seated_false_label">?</span></div>
							<div id="seated_true_graphic" class="progress-bar bg-success rounded" role="progressbar" style="width: 50%;" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"><span id="seated_true_label">?</span></div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>

<div class="row">
	<div class="col-12">

		<div class="card">
			<div class="card-header">
					<h5>Current passenger seatmap</h5>
					<p>click to view passenger details</p>
					<div class="card-header-right">

					</div>
				</div>
			<div class="card-body">

				<div class="row">

					<div class="col-md-7 col-sm-12">
					   <div class="table-responsive">
							<table class="table" id="seatmap_table"></table>
						</div>
					</div>
					<div class="col-md-5 col-sm-12">

						{% include 'includes/helper_seatmap.html' %}

					</div>

				</div>

			</div>
		</div>
		</div>


</div>

{% endblock content %}



{% block javascripts %}


<!-- dashboard-custom js -->
<script src="/static/assets/js/pages/dashboard-analytics.js"></script>

<script>

	function update_display() {

		console.log("Updating display!")

		if (localStorage.getItem('door_status') === '0') {
			set_card_status('door','green','Secured')
		} else if (localStorage.getItem('door_status') === '1' ) {
			set_card_status('door','red','Open')
		} else {
			set_card_status('door','yellow','Unknown')
		}

		if (localStorage.getItem('gear_handle_position') === '0') {
			set_card_status('gear','green','Up')
		} else if (localStorage.getItem('gear_handle_position') === '1' ) {
			set_card_status('gear','red','Down')
		} else {
			set_card_status('gear','yellow','Unknown')
		}

		if (localStorage.getItem('seatbelt_sign') === 'true') {
			set_card_status('seatbelt','green','On')
		} else if (localStorage.getItem('seatbelt_sign') === 'false' ) {
			set_card_status('seatbelt','red','Off')
		} else {
			set_card_status('seatbelt','yellow','Unknown')
		}

		if (localStorage.getItem('no_smoking_sign') === 'true') {
			set_card_status('smoking','green','On')
		} else if (localStorage.getItem('no_smoking_sign') === 'false' ) {
			set_card_status('smoking', 'red', 'Off')
		} else {
			set_card_status('smoking','yellow','Unknowable!')
		}

		// Set flight phase
		set_card_status('flight-phase', 'blue', localStorage.getItem('phase_flight_name'));
		let link = "/static/assets/images/phase-icons/" + localStorage.getItem('phase_flight_name') + ".png";
		$('#flight-phase-icon').attr("src",link);

		// Set cabin phase
		set_card_status('cabin-phase', 'blue', localStorage.getItem('phase_cabin_name'));
		link = "/static/assets/images/phase-icons/" + localStorage.getItem('phase_cabin_name') + ".png";
		$('#cabin-phase-icon').attr("src",link);

		// Set altitude and speed
		$('#altitude-label').text(localStorage.getItem('current_altitude'));
		$('#speed-label').text(localStorage.getItem('current_speed'));

		// Set passenger boarding status
		$('#waiting_to_board_label').text(localStorage.getItem('passenger_count_waiting_to_board'));
		$('#boarding_label').text(localStorage.getItem('passenger_count_boarding'));
		$('#on_board_label').text(localStorage.getItem('passenger_count_on_board'));
		$('#deboarding_label').text(localStorage.getItem('passenger_count_deboarding'));
		$('#deboarded_label').text(localStorage.getItem('passenger_count_deboarded'));

		waiting_to_board_pct = (localStorage.getItem('passenger_count_waiting_to_board') / localStorage.getItem('passenger_count_total'))*100
		boarding_pct = (localStorage.getItem('passenger_count_boarding') / localStorage.getItem('passenger_count_total'))*100
		on_board_pct = (localStorage.getItem('passenger_count_on_board') / localStorage.getItem('passenger_count_total'))*100
		deboarding_pct = (localStorage.getItem('passenger_count_deboarding') / localStorage.getItem('passenger_count_total'))*100
		deboarded_pct = (localStorage.getItem('passenger_count_deboarded') / localStorage.getItem('passenger_count_total'))*100

		$('#waiting_to_board_graphic').width(waiting_to_board_pct+'%')
		$('#boarding_graphic').width(boarding_pct+'%')
		$('#on_board_graphic').width(on_board_pct+'%')
		$('#deboarding_graphic').width(deboarding_pct+'%')
		$('#deboarded_graphic').width(deboarded_pct+'%')


		// Set passenger seated status
		passenger_count_seated_true = localStorage.getItem('passenger_count_seated_true');
		passenger_count_seated_false = localStorage.getItem('passenger_count_seated_false');

		$('#seated_true_label').text(passenger_count_seated_true);
		$('#seated_false_label').text(passenger_count_seated_false);
		$('#seated_not_on_board_label').text(localStorage.getItem('passenger_count_waiting_to_board'));


		seated_true_pct = passenger_count_seated_true / localStorage.getItem('passenger_count_total')*100
		seated_false_pct = passenger_count_seated_false / localStorage.getItem('passenger_count_total')*100
		seated_not_on_board_pct = localStorage.getItem('passenger_count_waiting_to_board')/ localStorage.getItem('passenger_count_total')*100

		$('#seated_true_graphic').width(seated_true_pct+'%')
		$('#seated_false_graphic').width(seated_false_pct+'%')
		$('#seated_not_on_board_graphic').width(seated_not_on_board_pct+'%')


	}

</script>

<script src="/static/customjs/seatmap_display.js"></script>
<script>

    get_seatmap_data_from_server("class")

</script>

<script src="/static/customjs/auto-update.js"></script>



{% endblock javascripts %}



