{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
{% endblock stylesheets %}

{% block content %}

  <main class="content">

      {% include 'includes/navigation.html' %}

      <div class="py-4">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item"><a href="#"><span class="fas fa-home"></span></a></li>
                  <li class="breadcrumb-item active" aria-current="page">Equipment</li>
              </ol>
          </nav>
          <div class="d-flex justify-content-between w-100 flex-wrap">
              <div class="mb-3 mb-lg-0">
                  <h1 class="h4">Equipment types</h1>
                  <p class="mb-0">All aircraft types available in the system to fly.</p>
              </div>
              <div>
                <a class="btn btn-primary btn-sm mr-2 dropdown-toggle" href="{{ url_for('equipment.create_new') }}">
                    <span class="fas fa-plus mr-2"></span>New
                </a>
              </div>
          </div>
      </div>

      <div class="card border-light shadow-sm mb-4">
          <div class="card-body">

            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Operator</th>
                        <th>Manufacturer</th>
                        <th>Type</th>
                        <th>Passengers</th>
                        <th>Cabin Crew</th>
                    </tr>
                </thead>
                <tbody>
                {% for row in equipment_list %}
                    <tr>
                        <td>
                            {% if row.operator_logo_url == "" %}
                                {{row.operator}}
                            {% else %}
                                <img src="{{row.operator_logo_url}}" height="20"><span hidden>{{row.operator}}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if row.manufacturer_logo_url == "" %}
                                {{row.manufacturer}}
                            {% else %}
                                <img src="{{row.manufacturer_logo_url}}" height="20"><span hidden>{{row.manufacturer}}</span>
                            {% endif %}                        </td>
                        <td>{{row.model}} {{row.variant}}</td>
                        <td>{{row.first_class_seats + row.business_class_seats + row.premium_class_seats + row.economy_class_seats}}</td>
                        <td>{{row.maximum_cabin_crew}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


          </div>
      </div>
      
      {% include 'includes/footer.html' %}

  </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
</script>

{% endblock javascripts %}
