{% extends "layouts/base.html" %}

{% block title %} Equipment {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css">
{% endblock stylesheets %}

{% block content %}

  	<!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Equipment</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('main.dashboard') }}"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#!">Equipment</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->

    <!-- [ Main Content ] start -->
    <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Current equipment list</h5>
                    <div class="card-header-right">
                        <div class="btn-group card-option">
                            <a href="{{ url_for('equipment.new') }}" class="btn btn-small btn-primary text-white"><i class="fas fa-plus-square"></i>New</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Operator</th>
                                <th>Manufacturer</th>
                                <th>Type</th>
                                <th>Passengers</th>
                                <th>Cabin Crew</th>
                                <th>Created by</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for row in equipment_list %}
                            <tr>
                                <td>
                                    {% if row.operator_logo_url == "" %}
                                        {{row.operator}}
                                    {% else %}
                                        <img src="{{row.operator_logo_url}}" alt="{{row.operator}}" height="20"><span hidden>{{row.operator}}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if row.manufacturer_logo_url == "" %}
                                        {{row.manufacturer}}
                                    {% else %}
                                        <img src="{{row.manufacturer_logo_url}}" alt="{{row.manufacturer}}" height="20"><span hidden>{{row.manufacturer}}</span>
                                    {% endif %}                        </td>
                                <td>{{row.model}} {{row.variant}}</td>
                                <td>{{row.first_class_seats + row.business_class_seats + row.premium_class_seats + row.economy_class_seats}}</td>
                                <td>{{row.maximum_cabin_crew}}</td>
                                <td>
                                    {% if row.created_by_user == current_user.id %}
                                    <i class="fas fa-user"></i> You
                                    {% else %}
                                    <i class="fas fa-globe"></i> Community
                                    {% endif %}
                                </td>
                                <td>
                                    
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-bars"></i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="{{ url_for('equipment.duplicate', equipment_id = row.id) }}"><i class="far fa-copy"></i> Copy</a>
                                            {% if row.created_by_user == current_user.id or current_user.is_superuser %}
                                            <a class="dropdown-item" href="{{ url_for('equipment.edit', equipment_id = row.id) }}"><i class="far fa-edit"></i> Edit {% if row.created_by_user != current_user.id and current_user.is_superuser %}(as superuser){% endif %}</a>
                                            <a class="dropdown-item" href="{{ url_for('equipment.delete', equipment_id = row.id) }}"><i class="far fa-trash-alt"></i> Delete {% if row.created_by_user != current_user.id and current_user.is_superuser %}(as superuser){% endif %}</a>
                                            {% else %}
                                            <a class="dropdown-item disabled" href=""><i class="far fa-edit"></i> Edit</a>
                                            <a class="dropdown-item disabled" href=""><i class="far fa-trash-alt"></i> Delete</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ sample-page ] end -->
    </div>
    <!-- [ Main Content ] end -->
{% endblock content %}

{% block javascripts %}
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function() {
        $('#example').DataTable();
    } );
    </script>

{% endblock javascripts %}
