{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
    .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
    .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
    .autocomplete-selected { background: #F0F0F0; }
    .autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
    .autocomplete-group { padding: 2px 5px; }
    .autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

</style>

{% endblock stylesheets %}

{% block content %}
                
    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Equipment</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('main.dashboard') }}"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="{{ url_for('equipment.view_list') }}">Equipment</a></li>
                        <li class="breadcrumb-item"><a href="#!">New equipment</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->

    <!-- [ Main Content ] start -->
    <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-xl-12 col-lg-12">
            <form id="equipment_form" method="POST">

            <div class="card">
                <div class="card-header">
                    <h5>Equipment details</h5>
                    <div class="card-header-right"></div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="operator">Operator</label>
                                <input class="form-control" name="operator" id="operator" type="text" placeholder="eg British Airways" required>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5 mb-3">
                            <img class="pt-2" height="50px" align="right" id="operator_logo" src="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="manufacturer">Manufacturer</label>
                                <input class="form-control" name="manufacturer" id="manufacturer" type="text" placeholder="eg Boeing" required>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5 mb-3">
                            <img class="pt-2" height="50px" align="right" id="manufacturer_logo" src="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="model">Model</label>
                                <input class="form-control" name="model" id="model" type="text" placeholder="eg 747-800" required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <div>
                                <label for="variant">Variant</label>
                                <input class="form-control" name="variant" id="variant" type="text" placeholder="eg Hi-J">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div>
                                <label for="full_name">Full name </label>
                                <input class="form-control" name="full_name" id="full_name" type="text" disabled>
                                <span class="text-danger" id="full_name_warning_label"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="card">
                <div class="card-header">
                    <h5>Seatmap editor</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <textarea class="form-control" name="seatmap_text_input" id="seatmap_text_input" onchange="send_input()" style="font-family: courier new;" rows="10">
##{ABC DEF HJK}
01{F   FFF   F}
02{F   FFF   F}
XX{           }
06{BB  BBB  BB}
07{BB  BBB  BB}
XX{           }
11{EEE EEE EEE}
12{EEE EEE EEE}
13{EEE EEE EEE}
14{EEE EEE EEE}
15{EEE EEE EEE}
16{EEE EEE EEE}
17{EEE EEE EEE}
18{EEE EEE EEE}
19{EEE EEE EEE}
20{EEE EEE EEE}
21{EEE EEE EEE}
22{EEE EEE EEE}
23{EEE EEE EEE}
24{EEE EEE EEE}
25{EEE EEE EEE}
26{EEE EEE EEE}</textarea><br>

                            <!--
                            <p><span id="number_of_seats_across">x</span> seats across and <span id="number_of_rows">x</span> rows</p>
                            -->
                            <p></p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button type="button" class="btn-block btn btn-danger">First class <span class="badge badge-light"><span id="seat_count_first_class"></span></span></button>
                                        <button type="button" class="btn-block btn btn-info">Premium class <span class="badge badge-light"><span id="seat_count_premium_class"></span></span></button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn-block btn btn-primary">Business class <span class="badge badge-light"><span id="seat_count_business_class"></span></span></button>
                                        <button type="button" class="btn-block btn btn-success">Economy class <span class="badge badge-light"><span id="seat_count_economy_class"></span></span></button>
                                    </div>
                                    <div class="col-sm-12">
                                        <br>
                                        <button type="button" class="btn-block btn btn-secondary">Total seats <span class="badge badge-light"><span id="seat_count_total"></span></span></button>
                                    </div>
                                </div>

                        <br>

                        </div>
                        <div class="col-sm-6 overflow-auto">

                            <div class="table-responsive">
                                <table class="table" id="seatmap_table"></table>
                            </div>


                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">

            <div class="card">
                <div class="card-header">
                    <h5>Crew details</h5>
                    <div class="card-header-right"></div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div>
                                <label for="model">Maximum number of cabin crew</label>
                                <input class="form-control" name="maximum_cabin_crew" id="maximum_cabin_crew" type="text" value="4">
                                <span class="text-danger" id="cabin_crew_warning_label"></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h5>Create</h5>
                    <div class="card-header-right"></div>
                </div>
                <div class="card-body">

                    <div class="mt-3">
                        <button type="submit" class="btn-block btn btn-primary">Create new equipment</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    </form>






{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.11/jquery.autocomplete.js" integrity="sha512-JwPA+oZ5uRgh1AATPhLKeByWbXcsRnMMSBpvhuAGQp+CWISl/fHecOshbRcPPgKWau9Wy1H5LhiwAa4QFiQKYw==" crossorigin="anonymous"></script>

<script>

    let valid_equipment_name = false;

    $("#equipment_form :input").change(function() {
        let full_name = $("#operator").val() + " " + $("#manufacturer").val() + " " + $("#model").val() + " " + $("#variant").val()
        $("#full_name").val(full_name)

        // Check if full name is unique
        $.ajax({
            url: '/api/equipment/check_if_exists',
            type: 'GET',
            data: { search_term: $("#full_name").val() },
            success: function (response) {
                if (response.status === "error") {
                    $("#full_name").addClass("is-invalid")
                    $("#full_name_warning_label").text("Error finding plane name")
                } else {
                    if (response.already_exists === true) {
                        $("#full_name").addClass("is-invalid")
                        $("#full_name_warning_label").text("Equipment type already exists - please specify a variant")
                        valid_equipment_name = false;
                    } else {
                        $("#full_name").removeClass("is-invalid")
                        $("#full_name_warning_label").text("")
                        valid_equipment_name = true;
                    }
                }
            },
            contentType: 'application/json; charset=utf-8'
        });

    });

    $("#operator").change(function() {

        $.ajax({
            url: '/api/equipment/operator_logo',
            type: 'GET',
            data: { search_term: $("#operator").val() },
            success: function (response) {
                if (response.status === "success") {
                    $("#operator_logo").attr("src", response.logo_url);
                } else {
                    $("#operator_logo").attr("src", "");
                }
            },
            contentType: 'application/json; charset=utf-8'
        });
    })

    $("#manufacturer").change(function() {

        $.ajax({
            url: '/api/equipment/manufacturer_logo',
            type: 'GET',
            data: { search_term: $("#manufacturer").val() },
            success: function (response) {
                if (response.status === "success") {
                    $("#manufacturer_logo").attr("src", response.logo_url);
                } else {
                    $("#manufacturer_logo").attr("src", "");
                }
            },
            contentType: 'application/json; charset=utf-8'
        });
    })

</script>

<script src="/static/customjs/seatmap_builder.js"></script>
<script>
    send_input()
</script>

{% endblock javascripts %}
