{% extends "layouts/base.html" %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ breadcrumb ] start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-12">
                    <div class="page-header-title">
                        <h5 class="m-b-10">Seatmap editor</h5>
                    </div>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href=""><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"><a href="#!">Equipment</a></li>
                        <li class="breadcrumb-item"><a href="#!">Seatmap editor</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- [ breadcrumb ] end -->

    <!-- [ Main Content ] start -->
    <div class="row">
        <!-- [ sample-page ] start -->
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Seatmap editor</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">

                            <div class="table-responsive">
                                <table class="table" id="seatmap_table"></table>
                            </div>


                        </div>
                        <div class="col-sm-6">
                            <textarea class="form-control" id="seatmap_text_input" onchange="check_input()" style="font-family: courier new;" rows="10">
##{ABC DEF HJK}
01{F    FF   F}
02{F    FF   F}
XX{           }
06{BB  BBB  BB}
07{BB  BBB  BB}
XX{           }
11{EEE EEE EEE}
12{EEE EEE EEE}
13{EEE EEE EEE}</textarea><br>

                            <!--
                            <p><span id="number_of_seats_across">x</span> seats across and <span id="number_of_rows">x</span> rows</p>
                            -->
                            <p></p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button type="button" class="btn-block btn btn-danger">First class <span class="badge badge-light"><span id="seat_count_first_class"></span></span></button>
                                        <button type="button" class="btn-block btn btn-info">Premium class <span class="badge badge-light"><span id="seat_count_premium_class"></span></span></button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn-block btn btn-primary">Business class <span class="badge badge-light"><span id="seat_count_business_class"></span></span></button>
                                        <button type="button" class="btn-block btn btn-success">Economy class <span class="badge badge-light"><span id="seat_count_economy_class"></span></span></button>
                                    </div>
                                    <div class="col-sm-12">
                                        <button type="button" class="btn-block btn btn-secondary">Total seats <span class="badge badge-light"><span id="seat_count_total"></span></span></button>
                                    </div>
                                </div>

<br>

                            <button class="btn btn-success btn-block" onclick="check_input()"><i class="far fa-check-circle fa-lg"></i> Approve</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- [ sample-page ] end -->
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

{% block javascripts %}

<script>

    function check_input() {

        $.getJSON({
            url: '/api/equipment/seatmap_parser',
            type: 'GET',
            data : {
                seatmap_text: $('#seatmap_text_input').val()
            },

            success: function (response) {

                $('#seat_count_total').text(response.seat_count_total)
                $('#seat_count_first_class').text(response.seat_count_first_class)
                $('#seat_count_business_class').text(response.seat_count_business_class)
                $('#seat_count_premium_class').text(response.seat_count_premium_class)
                $('#seat_count_economy_class').text(response.seat_count_economy_class)

                $('#number_of_seats_across').text(response.number_of_seats_across)
                $('#number_of_rows').text(response.number_of_rows)

                draw_table(response.number_of_seats_across, response.number_of_rows, response.seatmap_object)

                //console.log(response.seatmap_object)

            },
            contentType: 'application/json; charset=utf-8'
        });

    }

    check_input()

    function draw_table(max_x, max_y, seatmap_object) {

        let table = document.querySelector("#seatmap_table");

        while ( table.rows.length > 0 ) {
          table.deleteRow(0);
        }

        for (let y = 1; y <= max_y; y++) {
            let row = table.insertRow();

            for (let x = 1; x <= max_x; x++) {
                let cell = row.insertCell();
                //let text = document.createTextNode('<button class="btn brn-primary">Seat</button>');

                html_for_cell = 'X';

                cell.innerHTML = html_for_cell;
                cell.classList.add('individual_seat');
                cell.id = "seat-" + x + "-" + y
            }
        }

        seatmap_object.forEach(function (seat) {

            let relevant_cell_id = "#seat-" + seat.x + "-" + seat.y

            console.log(relevant_cell_id)

            if (seat.seat_type === " ") {
                $(relevant_cell_id).html("&nbsp")
            } else {

                //<h6>Example heading <span className="badge badge-secondary">New</span></h6>

                let badge_color;
                if (seat.seat_type === "F") { badge_color = "danger"}
                if (seat.seat_type === "B") { badge_color = "primary"}
                if (seat.seat_type === "P") { badge_color = "info"}
                if (seat.seat_type === "E") { badge_color = "success"}

                html_for_cell = '<h6><span data-toggle="tooltip" data-placement="top" title="tooltip on top" class="badge badge-'+ badge_color + '">' + seat.seat_number + '</span></h6>'
                $(relevant_cell_id).html(html_for_cell)
            }



        })
    }


//        $(".individual_seat").each(function( index ) {
//            //console.log(this.id);
//
//            html_to_add = '<button class="btn btn-primary btn-small seat_button">S</button>'
//
//            this.innerHTML = html_to_add
//
//
//        });
//    }



    $(".individual_seat").on('click', function(event) {
        window.alert("Seat!")
    })

</script>

{% endblock javascripts %}
