<!-- [ Header ] start -->
	<header class="navbar pcoded-header navbar-expand-lg navbar-light headerpos-fixed">

			<div class="m-header">
				<a class="mobile-menu" id="mobile-collapse1" href="#!"><span></span></a>
				<a href="index.html" class="b-brand">
					<!-- <div class="b-bg">
						<i class="fas fa-bolt"></i>
					</div>
					<span class="b-title">CRM</span> -->
					<img src="/static/assets/images/logo.svg" alt="" class="logo images">
					<img src="/static/assets/images/logo-icon.svg" alt="" class="logo-thumb images">
				</a>
			</div>
			<a class="mobile-menu" id="mobile-header" href="#!">
				<i class="feather icon-more-horizontal"></i>
			</a>
			<div class="collapse navbar-collapse">
				<a href="#!" class="mob-toggler"></a>
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<!--
						<div class="main-search open">
							<div class="input-group">
								<input type="text" id="m-search" class="form-control" placeholder="Search . . .">
								<a href="#!" class="input-group-append search-close">
									<i class="feather icon-x input-group-text"></i>
								</a>
								<span class="input-group-append search-btn btn btn-primary">
									<i class="feather icon-search input-group-text"></i>
								</span>
							</div>
						</div>
						-->
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li>
						<div class="dropdown">
							<a class="dropdown-toggle" href="#" data-toggle="dropdown"><span id="navbar_notification_bell"><i class="far fa-bell"></i></span></a>


							<div class="dropdown-menu dropdown-menu-right notification">
								<div class="noti-head">
									<h6 class="d-inline-block m-b-0">Notifications</h6>

								</div>
								<ul class="noti-body">
									<li class="n-title">
										<p class="m-b-0">NEW</p>
									</li>
									<li id="navbar_new_crew_message_notification_card" class="notification">
										<div class="media">
											<a href="{{ url_for('messaging.chat', message_type='crew') }}">
												<img class="img-radius" src="/static/assets/images/user/crew.png" alt="Generic placeholder image">
											</a>
											<div class="media-body">
												<a href="{{ url_for('messaging.chat', message_type='crew') }}">
													<p><strong>Cabin Crew</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i></span></p>
													<p>New message</p>
												</a>
											</div>
										</div>
									</li>

								</ul>
								<div class="noti-footer">
									<a href="#!">Close</a>
								</div>
							</div>
						</div>
					</li>
					<li><a href="#!" class="displayChatbox"><i class="icon feather icon-mail"></i></a></li>
					<li>
						<div class="dropdown drp-user">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="icon feather icon-settings"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-right profile-notification">
								<div class="pro-head">
									<img src="/static/assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image">
									<span>John Doe</span>
									<a href="auth-signin.html" class="dud-logout" title="Logout">
										<i class="feather icon-log-out"></i>
									</a>
								</div>
								<ul class="pro-body">
									<li><a href="#!" class="dropdown-item"><i class="feather icon-settings"></i> Settings</a></li>
									<li><a href="#!" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
									<li><a href="message.html" class="dropdown-item"><i class="feather icon-mail"></i> My Messages</a></li>
									<li><a href="auth-signin.html" class="dropdown-item"><i class="feather icon-lock"></i> Lock Screen</a></li>
								</ul>
							</div>
						</div>
					</li>
				</ul>
			</div>

	</header>
	<!-- [ Header ] end -->