<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light brand-blue ">
		<div class="navbar-wrapper ">
			<div class="navbar-brand header-logo">
				<a href="{{ url_for('main.dashboard') }}" class="b-brand">
					<div class="b-bg">
						<img width="30px" src="/static/assets/images/user/redplane.png">
					</div>
					<span class="b-title">Crew Manager</span> 
				</a>
				<a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
			</div>
			<div class="navbar-content scroll-div" >

				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Management</label>
					</li>
					<li data-username="" class="nav-item pcoded-hasmenu">
						<a id="menu_item_equipment" href="#!" class="nav-link"><span class="pcoded-micon"><i class="fas fa-plane"></i></span><span class="pcoded-mtext">Equipment</span></a>
						<ul class="pcoded-submenu">
							<li class=""><a href="{{ url_for('equipment.view_list') }}" class="">Equipment list</a></li>
							<li class=""><a href="{{ url_for('equipment.new') }}" class="">Create new</a></li>
						</ul>
					</li>

					<li data-username="" class="nav-item pcoded-hasmenu">
						<a href="#!" class="nav-link"><span class="pcoded-micon"><i class="fas fa-drafting-compass"></i></span><span class="pcoded-mtext">Flight plans</span></a>
						<ul class="pcoded-submenu">
							<li class=""><a href="{{ url_for('flight_manager.view_list') }}" class="" >Your flight plans</a></li>
							<li class=""><a href="{{ url_for('flight_manager.new') }}" class="" >Create new</a></li>
						</ul>
					</li>

					{% if current_user.active_flight_id == None %}
					<li class="nav-item pcoded-menu-caption">
						<label>Active flight</label>
					</li>
					<li data-username="" class="nav-item">
						<a href="{{ url_for('flight_manager.view_list') }}" class="nav-link"><span class="pcoded-micon"><i class="fas fa-play-circle"></i></span><span class="pcoded-mtext">Start new flight</span></a>
					</li>
					{% else %}

					<li class="nav-item pcoded-menu-caption">
						<label>Active flight</label>
					</li>

					<li data-username="" class="nav-item">
						<a href="{{url_for('inflight.dashboard')}}" class="nav-link"><span class="pcoded-micon"><i class="fas fa-cog fa-spin text-success"></i></span><span class="pcoded-mtext">Active Flight <span class="pcoded-badge label label-success">Live</span></span></a>
					</li>

					<li data-username="" class="nav-item">
						<a href="{{url_for('inflight.chart')}}" class="nav-link"><span class="pcoded-micon"><i class="fas fa-chart-line"></i></span><span class="pcoded-mtext">Chart <span class="pcoded-badge label label-success">Live</span></span></a>
					</li>

					<li data-username="" class="nav-item">
						<a href="{{url_for('passengers.list')}}" class="nav-link"><span class="pcoded-micon"><i class="fas fa-user-friends"></i></span><span class="pcoded-mtext">Passenger manifest <span class="pcoded-badge label label-success">Live</span></span></a>
					</li>

					<li data-username="" class="nav-item">
						<a href="{{url_for('passengers.show_seatmap_page')}}" class="nav-link"><span class="pcoded-micon"><i class="fas fa-chair"></i></span><span class="pcoded-mtext">Seat map <span class="pcoded-badge label label-success">Live</span></span></a>
					</li>

					<li data-username="" class="nav-item">
						<a href="{{url_for('crew.current_crew')}}" class="nav-link"><span class="pcoded-micon"><i class="far fa-id-badge"></i></span><span class="pcoded-mtext">Crew Roster<span class="pcoded-badge label label-success">Live</span></span></a>
					</li>

					<li data-username="" class="nav-item">
						<a href="{{ url_for('messaging.chat', message_type='cabin') }}" class="nav-link"><span class="pcoded-micon"><i class="fas fa-bullhorn"></i></span><span class="pcoded-mtext">Cabin Announcements </a>
					</li>

					<li data-username="" class="nav-item">
						<a href="{{ url_for('messaging.chat', message_type='crew') }}" class="nav-link"><span class="pcoded-micon"><i class="fas fa-phone"></i></span><span class="pcoded-mtext">Crew Message
						<span id="sidebar_unread_crew_messages" class="pcoded-badge label label-danger"></span>
						</a>
					</li>

					<li data-username="" class="nav-item">
						<a href="{{ url_for('inflight.datadump') }}" class="nav-link"><span class="pcoded-micon"><i class="fas fa-database"></i></span><span class="pcoded-mtext">Data Dump <span class="pcoded-badge label label-success">Live</span></span></a>
					</li>

					{% endif %}

				</ul>

				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>User</label>
					</li>
					<li data-username="" class="nav-item">
						<a href="{{ url_for('auth.change_password') }}" class="nav-link"><span class="pcoded-micon"><i class="fas fa-key"></i></span><span class="pcoded-mtext">Change password</span></a>
					</li>
					<li data-username="" class="nav-item">
						<a href="{{ url_for('auth.logout') }}" class="nav-link"><span class="pcoded-micon"><i class="fas fa-sign-out-alt"></i></span><span class="pcoded-mtext">Logout</span></a>
					</li>

				<!--
				<div class="card text-center">
					<div class="card-block">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<i class="fas fa-mug-hot fa-3x"></i>
						<h6 id="buy_me_a_beer" class="mt-3">Buy me a beer?</h6>
						<p>CRM is free to use, but if you like it please consider covering the running costs</p>
						<a href="#!"  class="btn btn-gradient-primary btn-sm text-white m-0">Donate</a>
					</div>
				</div>
				-->



			</div>

		</div>
	</nav>
	<!-- [ navigation menu ] end -->

<!--
<script>
		var greetings = [
		  "Buy me a beer?"
		, "Buy me a coffee?"
		, "Donate?"
	];
	var greeting_id = Math.floor(Math.random() * greetings.length);
	document.getElementById('buy_me_a_beer').innerHTML = greetings[greeting_id];
</script>
-->