
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">

					<li class="nav-item">
					    <a href="/" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
					</li>

					<li class="nav-item pcoded-menu-caption">
						<label>Management</label>
					</li>

					<li class="nav-item">
					    <a href="{{url_for('equipment.equipment_list')}}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Equipment</span></a>
					</li>
					<li class="nav-item">
					    <a href="{{ url_for('flight_manager.flight_list') }}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Flight plans</span></a>
					</li>


					{% if current_user.active_flight_id == None %}

					<li class="nav-item pcoded-menu-caption">
						<label><i class="fas fa-times-circle text-danger"></i> Active flight</i></label>
					</li>

					<li class="nav-item">
					    <a href="{{ url_for('flight_manager.flight_list') }}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Start live flight</span></a>
					</li>

					{% else %}

					<li class="nav-item pcoded-menu-caption">
						<label><i class="fas fa-cog fa-spin text-success"></i> Active flight</label>
					</li>

					<li class="nav-item">
						<a href="{{ url_for('inflight.datadump') }}" class="nav-link "><span class="pcoded-micon"><i class="fas fa-database"></i></span><span class="pcoded-mtext">Data dump</span></a>
					</li>

					{% endif %}



					<li class="nav-item pcoded-menu-caption">
						<label>User</label>
					</li>
					<li class="nav-item">
					    <a href="{{ url_for('auth.logout') }}"
						   class="nav-link "><span class="pcoded-micon">
						   <i class="feather icon-log-out"></i></span><span class="pcoded-mtext">Logout</span></a>
					</li>

				</ul>
				

				
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
