<!DOCTYPE html>
<html lang="en">

<head>

	<title>Crew Manager - Reset Password</title>
	<!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- Favicon icon -->
	<link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon">
	<!-- fontawesome icon -->
	<link rel="stylesheet" href="/static/assets/fonts/fontawesome/css/fontawesome-all.min.css">
	<!-- animation css -->
	<link rel="stylesheet" href="/static/assets/plugins/animation/css/animate.min.css">

	<!-- vendor css -->
	<link rel="stylesheet" href="/static/assets/css/style.css">
	
	


</head>

<div class="auth-wrapper">
	<!-- [ change-password ] start -->
	<div class="auth-content container">
		<div class="card">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="card-body">
						<h4 class="mb-4 f-w-400">Change your password</h4>
						{% if error_message != None %}
						<div class="alert alert-danger" role="alert">
							{{error_message}}
						</div>
						{% endif %}
						<form method="POST">
						<div class="input-group mb-2">
							<input name="old_password" type="password" class="form-control" placeholder="Current Password" required>
						</div>
						<div class="input-group mb-2">
							<input id="new_password1" name="new_password1" type="password" class="form-control new_password_input" placeholder="New Password" required>
						</div>
						<div class="input-group mb-4">
							<input id="new_password2" name="new_password2" type="password" class="form-control new_password_input" placeholder="Re-Type New Password" required>
						</div>
						<div id="pre_submit_error" class="alert alert-danger" role="alert">

						</div>
						<button id="submit_button" type="submit" class="btn btn-primary mb-4">Change password</button>
						</form>
					</div>
				</div>
				<div class="col-md-6 d-none d-md-block">
					<img src="/static/login/images/plane3.jpg" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
	<!-- [ change-password ] end -->
</div>

<!-- Required Js -->
<script src="/static/assets/js/vendor-all.min.js"></script>
<script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous"></script>

<script>
	$('#pre_submit_error').hide()

	$('.new_password_input').change(function() {

		$('#pre_submit_error').hide()
		$('#submit_button').prop('disabled', false);
		$('#new_password1').removeClass("is-invalid")
		$('#new_password2').removeClass("is-invalid")


		if ($('#new_password1').val() != $('#new_password2').val()) {
			$('#pre_submit_error').show()
			$('#pre_submit_error').text("Passwords must match")
			$('#new_password2').addClass("is-invalid")
			$('#submit_button').prop('disabled', true);
		}

		if ($('#new_password1').val().length < 5) {
			$('#pre_submit_error').show()
			$('#pre_submit_error').text("Password too short")
			$('#new_password1').addClass("is-invalid")
			$('#submit_button').prop('disabled', true);
		}

	})

</script>


</body>

</html>
